$main-gradient-from: #323264;
$main-gradient-to: #643E72;
$header-link-color: #FFFFFF;
$header-bg: #F5F5FA;
$header-text-light: #FFFFFF;
$header-text-dark: #B3B3BA;
$link-active: #F0145A;

$text-gradient-from: #EF8080;
$text-gradient-to: #F0145A;
$text-dark: #B3B3BA;

$divider-dark: #B3B3BA;
$divider-light: #FFFFFF;

$breakpoint-sm:  768px;
$breakpoint-md: 1024px;
$breakpoint-lg: 1440px;
$breakpoint-xl: 1920px;
